:root{
    --Dark-Blue: hsl(218, 23%, 16%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --rayish-Blue: hsl(217, 19%, 38%);
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--Dark-Blue);
    font-family: 'Manrope', sans-serif;
    margin: 0;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Dark-Grayish-Blue);
    width: 40rem;
    height: 45rem;
    border-radius: 2REM;
}

h1 {
    color: var(--Neon-Green);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.7rem;
    margin-top: 5.5rem;
    margin-bottom: 3.5rem;
}

p {
    color: var(--Light-Cyan);
    font-size: 2.7rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.1rem;
    margin: 0rem 2.5rem 0 2.5rem;
}

#mobileSeparator {
    position: absolute;
    top: 36rem;
}

#desktopSeparator {
    display: none;
}

#dice {
    position: absolute;
    display: grid;
    place-content: center;
    background-color: var(--Neon-Green);
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    top: 40.4rem;
}

#dice img {
    width: 3rem;
    height: 3rem;
}

#dice:hover {
    background-color: hsla(150, 100%, 66%, 0.76) ;
    cursor: pointer;
}

@media(min-width: 900px) {
    main {
        width: 55rem;
        height: 35rem;
    }
    #mobileSeparator {
        display: none;
    }
    
    #desktopSeparator {
        display: block;
        position: absolute;
        top: 28rem;
    }
    #dice {
        width: 7rem;
        height: 7rem;
        top: 31.5rem;
    }
}
